@model Category
@using DAL.EntityModel;

<form id="myForm">
    <div id="AddCategoryForm">
        @Html.LabelFor(m => m.CategoryName)
        @Html.TextBoxFor(m => m.CategoryName)

        @*<div class="form-group">
            @Html.LabelFor(m => m.CategoryName)
            @Html.TextBoxFor(m => m.CategoryName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CategoryName)
            @Html.TextBoxFor(m => m.CategoryName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CategoryName)
            @Html.TextBoxFor(m => m.CategoryName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CategoryName)
            @Html.TextBoxFor(m => m.CategoryName)
        </div>*@
    </div>
</form>